/* 
STYLE GUIDE:

colors:
    #E13434 red
    #F2E9E9 white
    #151515 black

Fonts:
    Haext Plain
        font-size: 
            173px HOME
            82px WORK TITLE
            50px VideoSub
            83px InfoTitle
        letter-spacing:32.13;
    Source Sans Pro Light:
        font-size:
            63px and 33px HOME
            44px and 33px Work
            33px info
*/
@import url('https://fonts.googleapis.com/css?family=BioRhyme:200,300,400&display=swap');

@font-face {
    font-family: 'Haext';
    src: url('../Haext_Plain.otf');
}

:root {
    --black: #151515;
    --white: #F2E9E9;
    --red: #E13434;
    --filter-red: invert(46%) sepia(28%) saturate(7224%) hue-rotate(336deg) brightness(87%) contrast(104%);
    --filter-white: invert(100%) sepia(0%) saturate(7392%) hue-rotate(271deg) brightness(112%) contrast(83%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/Background.png'), var(--black);
    font-family: 'BioRhyme', ;
}

.container {
    width: 85vw;
    /* height: 100vh; */
    margin: 0 auto;
}

.jump {
    height: 20vh;
}

.main-content {
    position: relative;
    height: 85vh;
}

.noise {
    z-index: -1;
    position: absolute;
    top: -150px;
    left: 0;

    width: 100%;
    height: 120%;

    opacity: .5;
}

.noise_2 {
    z-index: -1;
    position: absolute;
    top: -150px;
    left: 0;

    width: 100%;
    height: 138%;

    opacity: .5;
}

/* HOME */

header.title {
    margin-top: 8rem;
}

header.title>h1{
    font-family: 'Haext';
    color: var(--white);
    font-size: 11.5vw;
    font-weight: 100;
    user-select: none;
    text-align: center;
    transition: .3s ease-in-out;
}

header.title>h1:hover{
    filter:var(--filter-red);
    transform: scale(1.005);
}

header.title>img {
    width: 104%;
    text-align: center;
    transition: .3s ease-in-out;
    cursor:url(../img/dot.svg);
}
header.title>img:hover {
    width: 104%;
    text-align: center;
    filter:var(--filter-red);
    transform: scale(1.005);
}

nav.navbar {
    margin-top: 15rem;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    grid-template-areas:
        'page none social';
}

ul.menu {
    grid-area: page;
    list-style-type: none;
}

ul.menu>li>a {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
}


ul.social {
    display: grid;
    grid-area: social;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 50px);
    list-style-type: none;
    justify-items: center;
    justify-content: center;

}

ul li {
    margin-bottom: 1rem;
}

ul.social>li>a>img {
    width: 26px;
    /* letter-spacing: 1px;
    font-size: 1rem; */
    filter: var(--filter-white);
    transition: 0.3s ease;
}

ul.social>li>a>img:hover {
    filter: var(--filter-red);
}

a {
    text-decoration: none;
    color: var(--white);
    transition: 0.5s ease-in-out;
}

a:hover {
    color: var(--red);
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

.arrow {
    margin-top: 10rem;
}

.arrow>a>img {
    width: 2rem;
    display: block;
    margin: 0 auto;
    filter: var(--filter-white);
    cursor: pointer;
    transition: 0.5s ease;
}

.arrow>a>img:hover {
    transform: scale(1);
    filter: var(--filter-red);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

/* WORK */

@media(max-width:1280px) {
    .container>ul>li>a {
        font-family: 'Haext';
        font-size: 2rem;
    }

    iframe.video {
        width: 100%;
        height: 30vh;
    }

    header.title>h1{
        visibility: hidden;
    }
    header.title>h1::after{
        display: block;
        position: absolute;
        visibility: visible;
        content: 'PAULA ALEGRIA';
        font-family: 'Haext';
        color: var(--white);
        font-size: 15vw;
        top:-80px;
        font-weight: 100;
        user-select: none;
        text-align: center;
    }
    
    

}




.container>ul>li {
    margin-top: 50px;
    list-style-type: none;
}

.container>ul>li>a {
    font-family: 'Haext';
    font-size: 3rem;
}

.back,
.go-up,
.back-work {
    font-family: 'Haext';
}

h1 {
    font-weight: 100;
}

/* BUTTON HOME */
.back>a>h1 {
    color: var(--white);
    letter-spacing: -5.8px;
    margin-left: 15px;
    font-size: 20pt;
    cursor: pointer;

    transition: all 0.2s ease;
}

.back>a>h1:hover {
    transform: translateX(-5px);
    color: var(--red);
}

.back>a>h1:hover::after {
    content: ' HOME';
    color: var(--red);
    animation-name: appear;
    animation-duration: 0.3s;
}
/* VARIATION */

.back-work>a>h1 {
    color: var(--white);
    letter-spacing: -5.8px;
    margin-left: 15px;
    font-size: 20pt;
    cursor: pointer;

    transition: all 0.2s ease;
}

.back-work>a>h1:hover {
    transform: translateX(-5px);
    color: var(--red);
}

.back-work>a>h1:hover::after {
    content: ' WORK';
    color: var(--red);
    animation-name: appear;
    animation-duration: 0.3s;
}

/* ---up--- */
.go-up>a>h1 {
    position: absolute;
    color: var(--white);
    letter-spacing: -5.8px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 20pt;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.go-up>a>h1:hover {
    transform: translateY(-15px);
    color: var(--red);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

.go-up>a>h1>div {
    display: block;
    font-size: 8rem;
    line-height: 0.5;
}

.go-up>a>h1:hover::after {
    content: ' go up';
    color: var(--red);
    animation-name: appear;
    animation-duration: 0.3s;
}





@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* WORK-VIDEOS*/
@media(max-width:460px) {

    .container>ul>li>a {
        font-family: 'Haext';
        font-size: 1.5rem;
    }

    section>h1.v-title {
        font-size: 1.5rem;
        margin-left: 40px;
    }

    section>p {
        font-size: 1rem;
        margin-left: 40px;
    }

    .go-up>a>h1 {
        position: absolute;
        color: var(--white);
        letter-spacing: -5.8px;
        margin-left: 15px;
        padding-bottom: 30px;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

    .go-up>a>h1>div {
        display: block;
        font-size: 3rem;
        line-height: 0.5;
    }

    iframe.video {
        width: 100%;
        height: auto;
    }


    header.title>h1::after{
        display: block;
        position: absolute;
        visibility: visible;
        content: 'PAULA ALEGRIA';
        font-family: 'Haext';
        color: var(--white);
        font-size: 20vw;
        top:-80px;
        font-weight: 100;
        user-select: none;
        text-align: center;
    }

}

section {
    width: 85vw;
    margin: 0 auto;
}

section>h1.v-title {
    font-family: 'Haext';
    font-weight: 100;
    font-size: 3.5rem;
    cursor: pointer;
    color: var(--white);
}


section>p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Haext';
    font-weight: 100;
    color: var(--white);
    font-size: 1.5rem;
}

.video {
    width: 100%;
    height: 80vh;
    border: none;
    margin-bottom: 150px;
    box-shadow: 2px 2px 15px rgba(242, 233, 233, 0);
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
}

.video:hover {
    box-shadow: 2px 2px 15px rgba(180, 180, 180, 0.075);
}

:target {
    padding-top: 20px;
    margin-top: -20px;
    margin-left: 8%;
    display: inline-block;
}

/* ABOUT */

@media(max-width:620px) {
    .container>h1.desc {
        font-size: 1.6rem;
        font-weight: 100;
        color: var(--white);
        line-height: 1.5;
        letter-spacing: 0.03rem;
        text-align: center;
    }

    .container>h1>span {
        font-size: 3.5rem;
        font-weight: 100;
        margin:0;
        padding:0;
    }
}


.c-about {
    margin-top: 20px;
}

h1.desc {
    font-size: 4.5rem;
    font-weight: 200;
    color: var(--white);
    line-height: 1.2;
    letter-spacing: 0.2rem;
    text-align: center;
}

h1>span {
    font-size: 8.8rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

h1>span:hover {
    color: var(--red);
}

h1::selection,h1>span::selection{
    background-color: var(--red);
}